{% extends 'pages/index.html' %}
{% load crispy_forms_tags %}

{% block title %} Верифікація {% endblock %}

{% block container %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert
              {% if message.tags == 'error' %}alert-danger
              {% elif message.tags == 'success' %}alert-success
              {% elif message.tags == 'warning' %}alert-warning
              {% elif message.tags == 'info' %}alert-info
              {% else %}alert-primary
              {% endif %} my-3 text-center" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}