{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <body>
        <div class="main">
            <h1>Login Form</h1>
            <h3>Enter your login credentials</h3>

            <form method="post" style="width: 600px">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Submit</button>
            </form>

            <p>Not registered?
                <a href="{% url 'signup' %}" style="text-decoration: none;">
                    Create an account
                </a>
            </p>
        </div>
    </body>

</html>