<section class="contact-us">
	<div class="container">
		<div class="contact-container">

			<h1 class="contact-title">Виникли <span
				class="hero-title-collection">питання</span>?</h1>

			<div class="contact-box">
				<p class="contact-form-text">
					Скористайтеся формою нижче для зв'язку з нами. Просто залиште пошту та повідомлення.
				</p>

				<form action="" class="contact-form">

					<input type="email" placeholder="Пошта" class="contact-input">
					<textarea placeholder="Повідомлення" class="contact-textarea"></textarea>

					<button type="submit" class="contact-btn">
						Відправити
					</button>

				</form>
			</div>

		</div>
	</div>
</section>