{% load static %}
<footer class="footer">
    <div class="container">
        <p class="footer-text">
            Допомагайте тим, хто цього потребує. Кожна гривня наближає нас до мети.
        </p>
        
        <ul class="social-list">
            <li class="social-item">
                <a href="#" class="social-link">
                    <svg width="24" height="24" class="social-icon">
                        <use href="{% static 'images/icons.svg' %}#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">
                    <svg width="24" height="24" class="social-icon">
                        <use href="{% static 'images/icons.svg' %}#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">
                    <svg width="24" height="24" class="social-icon">
                        <use href="{% static 'images/icons.svg' %}#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>