{% load static %}

<section class="hero">
	<div class="container hero-flex-container">
		<div class="hero-container">
			<h1 class="hero-title">Допомагати легко: ваша <span class="hero-title-collection">підтримка</span> змінює
				життя</h1>
			<p class="hero-text">ШАГ — це платформа, де кожен внесок наближає нас до великої мети. Створюйте власні
				збори або підтримуйте ініціативи інших. Разом ми можемо більше.</p>
		</div>

		<img
			src="{% static 'images/hero-main.jpg' %}"
			alt="Головне зображення збору"
			class="hero-main-photo"
		>
	</div>
</section>