{% load static %}
<header class="page-header">
    <div class="container header-container">
        <a class="header-logo" href="{% url 'home' %}">ШАГ</a>
        
        <button type="button" class="menu-btn" data-menu-open>
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 10H24" stroke="black" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 18H24" stroke="black" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </button>
    </div>

    <div class="mobile-menu" data-menu>
        <div class="mobile-menu-container">
            <button class="mobile-menu-close" data-menu-close>
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 8L8 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8 8L20 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            
            <nav class="mobile-menu-nav">
                <ul class="mobile-ul-menu">
                    <li class="mobile-list-item"><a class="mobile-link active" href="{% url 'home' %}">Головна</a></li>
                    <li class="mobile-list-item"><a class="mobile-link" href="{% url 'fundraisers:announcements' %}">Всі збори</a></li>
                    <li class="mobile-list-item"><a class="mobile-link" href="{% url 'fundraisers:create_announcement' %}">Створити збір</a></li>
                    <li class="mobile-list-item"><a class="mobile-link" href="{% url 'login' %}">Вхід</a></li>
                    <li class="mobile-list-item"><a class="mobile-link" href="{% url 'signup' %}">Реєстрація</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
